{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1>{{ images_title }}</h1>
    {% for url in links %}
        <img src="{{ url }}" width="640" height="426"/>
    {% endfor %}
    <h1>{{ table_title }}</h1>
    <table>
        <tr>
            {% for item in table_head %}
            <th>{{ item }}</th>
            {% endfor %}
        </tr>
        {% for line in table_data %}
        <tr>
            {% for column in line.split(",") %}
                <td>{{column}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}