{% extends 'layout.html' %}

{% block content %}
    <div style=" text-align: center;">
        <h1 class="main">Login success!</h1>
        <input type = 'button' value="Update password" style="height:50px; width:150px"  onclick="window.location.href='/update_password';">
        <input type = 'button' value="Return to home" style="height:50px; width:150px" onclick="window.location.href='/';">
        <input type = 'button' value="Logout" style="height:50px; width:150px"  onclick="window.location.href='/logout';">
    </div>
<!-- Styles header and image with center alignment -->
<style>
    .main {
        margin: 10px auto 20px;
        display: block;
        text-align: center;
    }
    </style>
{% endblock %}