{% extends 'layout.html' %}

{% block content %}
<div class="register">
	<h1>Register</h1>
	<div class="links">
		<a href="login">Login</a>
		<a href="register" class="active">Register</a>
	</div>
	<form action="register" method="post" autocomplete="off">
		<label for="first_name">
			<i class="fas fa-user"></i>
		</label>
		<input type="text" name="first_name" placeholder="Enter first name" id="first_name" required>
    <label for="last_name">
			<i class="fas fa-user"></i>
		</label>
		<input type="text" name="last_name" placeholder="Enter last name" id="last_name" required>
    <label for="username">
			<i class="fas fa-user"></i>
		</label>
		<input type="text" name="username" placeholder="Username" id="username" required>
		<label for="password">
			<i class="fas fa-lock"></i>
		</label>
		<input type="password" name="password" placeholder="Password" id="password" required>
		<div class="msg">{{ msg }}</div>
		<input type="submit" value="Register">
    <input type = 'button' value="Return to home" style="height:50px; width:150px"  onclick="window.location.href='/';">
    <p style="padding-left: 50px;padding-right:50px;"><i>Password must be at least 12 characters in length, and include at least 1 uppercase character, 1
      lowercase character, 1 number and 1 special character.</i></p>
  </form>
</div>
{% endblock %}