{% extends 'layout.html' %}

{% block content %}
<div class="login">
	<h1>Logged in as: {{ value }}</h1>
	<form action="/update_password" method="post">
		<label for="current_password">
			<i class="fas fa-lock"></i>
		</label>
		<input type="password" name="current_password" placeholder="Current Password" id="current_password" required>

        <label for="new_password">
			<i class="fas fa-lock"></i>
		</label>
		<input type="password" name="new_password" placeholder="New Password" id="new_password" required>

        <label for="retype_password">
			<i class="fas fa-lock"></i>
		</label>
		<input type="password" name="retype_password" placeholder="Retype New Password" id="retype_password" required>

		<div class="msg">{{ msg }}</div>
		<input type="submit" value="Update">
        <input type = 'button' value="Logout" style="height:50px; width:150px"  onclick="window.location.href='/logout';">
        <input type = 'button' value="Return to home" style="height:50px; width:150px" onclick="window.location.href='/';">
	</form>

</div>
{% endblock %}